
@{
    Layout = null;
}
@model WebApplication2.Student
<h2>Студент № @Model.student_id</h2>

@using (Html.BeginForm("EditStudent", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.student_id)
        <p>
            @Html.LabelFor(m => m.surname, "Фамилия студента")
            <br />
            @Html.EditorFor(m => m.surname)
        </p>
        <p>
            @Html.LabelFor(m => m.name, "Имя студента")
            <br />
            @Html.EditorFor(m => m.name)

        </p>
        <p>
            @Html.LabelFor(m => m.patronymic, "Отчество")
            <br />
            @Html.EditorFor(m => m.patronymic)
        </p>
        <p>
            @Html.LabelFor(m => m.group, "Группа")
            <br />
            @Html.EditorFor(m => m.group)
        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}
