<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    @Styles.Render("~/Content/css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-top: 10px;  color: #808080">
                    <li style="color:#ffffff"> <a href="/Home/Index">Главная</a></li>
                    <li>
                        <a href="#">Справочники</a>
                        <ul style="margin-left:0px">
                            <li><a href="/Students/List">Студенты</a></li>
                            <li><a href="/Subjects/List">Предметы</a></li>
                            <li><a href="/Events/List">Мероприятия</a></li>
                            <li><a href="/Rewards/List">Награждения</a></li>
                            <li><a href="/Statements/List">Ведомость</a></li>
                            <li><a href="/Marks/List">Оценки</a></li>
                        </ul>
                    </li>
                    <li> <a href="/Home/Report">Отчеты</a></li>
                    <li> <a href="/Home/About">О программе</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
    @RenderBody()
        </div>
    <footer>
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
