@model WebApplication2.Models.DataModel<Student>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h3>Список студентов</h3>
    <a style="text-align:right", href="@Url.Action("Create")">Добавить студента</a>   
@Html.Partial("Pagining", Model)
 <p></p>
    <table class="table table-striped">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Группа</th>
            <th>Действия</th>
        </tr>

        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.group)
                </td>
                <td>
                    <ul style="margin:0px" , class="pager">
                        <li>
                        <a href="@Url.Action("Edit", new { id = item.student_id })">Изменить</a>
                        @Html.ActionLink("Удалить", "Delete", new { id = item.student_id }, new { onclick = "return confirm('Вы уверены?')", @class = "button" })
                    </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
@Html.Partial("Pagining", Model)

<p> Записи с @((Model.PageNumber-1)*10) до @((Model.PageNumber)*10)</p>
<p> Всего записей @Model.TotalItems</p>
