@model IEnumerable<WebApplication2.Reward>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
        <h3>Список награждений</h3>
        <a style="text-align:right" , href="Create/">Добавить награждение</a>
        <table class="table">
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Уровень
                </th>
                <th>
                    Ценность
                </th>
                <th>
                    Наименование мероприятия
                </th>
                <th>
                    ID ведомости
                </th>
                <th>Действия</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Statement.statement_id)
                    </td>
                    <td>
                        <p>
                            <a style="margin-bottom: 0px; background: transparent" , href="Edit/@item.reward_id">Изменить</a>
                            <a style="margin-bottom: 0px; margin-top: 0px; background: transparent" , href="Delete/@item.reward_id"></a>
                        </p>
                    </td>
                </tr>
            }

        </table>
    </div>