
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication2.Event

@if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <span>@ViewBag.ErrorMessage</span>
}
@using (Html.BeginForm("Edit", "Events"))
{

    @Html.AntiForgeryToken()
    <h2>Мероприятие № </h2>
    @Html.HiddenFor(m => m.event_id)
        <div class="row">
            <div class="col-md-2">@Html.LabelFor(m => m.title, "Наименование")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.title)</div>
            <div class="col-md-2">@Html.LabelFor(m => m.country, "Страна")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.country)</div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.LabelFor(m => m.city, "Город")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.city)</div>
            <div class="col-md-2">@Html.LabelFor(m => m.street, "Улица")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.street)</div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.LabelFor(m => m.number_of_house, "№ дома")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.number_of_house)</div>
            <div class="col-md-2">@Html.LabelFor(m => m.level, "Уровень мероприятия")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.level)</div>
        </div>
        <div class="row">
            <div class="col-md-2">@Html.LabelFor(m => m.date, "Дата")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.date.Date)</div>
            <div class="col-md-2">@Html.LabelFor(m => m.value, "Ценность")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.value)</div>
            <div class="col-md-2">@Html.LabelFor(m => m.source, "Источник")</div>
            <div class="col-md-4">@Html.EditorFor(m => m.source)</div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input class="btn btn-primary" type="submit" value="Отправить" />
            </div>
        </div>

}