@model IEnumerable<WebApplication2.Event>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Список студентов</h3>
    <a style="text-align:right" , href="Create/">Добавить студента</a>
    <ul class="pagination">
        @*@foreach()*@
        <li><a href="?pageNumber=1">1</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">»</a></li>
    </ul>
    <p></p>

    <table class="table table-striped">
        <tr>
            <th>Наименование</th>
            <th>Страна</th>
            <th>Город</th>
            <th>Улица</th>
            <th>№ дома</th>
            <th>Уровень</th>
            <th>Дата</th>
            <th>Ценность</th>
            <th>Источник</th>
            <th>Действия</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_of_house)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.source)
                </td>
                <td>
                    <p>
                        <a style="margin-bottom: 0px; background: transparent" , href="Edit/@item.event_id">Изменить</a>
                        <a style="margin-bottom: 0px; margin-top: 0px; background: transparent" , href="Delete/@item.event_id"></a>
                    </p>
                </td>
            </tr>
        }

    </table>
