@model WebApplication2.Models.DataModel<Event>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Список студентов</h3>
    <a style="text-align:right" , href="@Url.Action("Create")">Добавить мероприятие</a>
@Html.Partial("Pagining", Model)
<p></p>
    <table class="table table-striped">
        <tr>
            <th>Наименование</th>
            <th>Страна</th>
            <th>Город</th>
            <th>Уровень</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    <ul style="margin:0px" , class="pager">
                        <li>
                            <a href="@Url.Action("Edit", new { id = item.event_id })">Изменить</a>
                            @Html.ActionLink("Удалить", "Delete", new { id = item.event_id }, new { onclick = "return confirm('Вы уверены?')", @class = "button" })
                            <a href="@Url.Action("Details", new { id = item.event_id })">Детали</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </table>
<p> Записи с @((Model.PageNumber - 1) * 10) до @((Model.PageNumber) * 10)</p>
<p> Всего записей @Model.TotalItems</p>